/* .App-img-style {
  height: 400px;
  width: 400px;
}

.App-p-style {
  width: 300px;
  background-color: pink;
  color: red;
}

.App-root{
  text-align: center;
} */


.App-title {
  text-align: center;
  font-size:50px;
  line-height: 150px;
  height: 150px;
  background-color: rgb(235, 230, 230);
}

.flex-container{
  display: flex;
}