/* .App-img-style {
  height: 400px;
  width: 400px;
}

.App-p-style {
  width: 300px;
  background-color: pink;
  color: red;
}

.App-root{
  text-align: center;
} */

input {
  outline: none;
}

.App-title {
  text-align: center;
  font-size: 50px;
  line-height: 150px;
  height: 150px;
  background-color: rgb(235, 230, 230);
}

.flex-container {
  display: flex;
  justify-content: space-around;
}


.list-margin {
  margin-left: 60px;
}

.list-box {
  width: 600px;
  border: 1px solid rgb(182, 182, 182);
}

.search-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50%;
  transform: translateX(-50%);
  height: 25vh;
  width: 85vw;
  background-color: rgb(226, 225, 225);
}

.margin-left {
  margin-left: 5vw;
}

.flex-imageItem {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap
}

.imageItem {
  height: 400px;
  width: 300px;
  text-align: center;
}

.imageItem-Img {
  height: 200px;
  width: 200px;
}